@import url('https://fonts.googleapis.com/css?family=Comfortaa|Kodchasan|Lato');

/* General styling */

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Comfortaa', monospace;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

p {
	text-align: center;
	font-family: 'Comfortaa', monospace;
	color: white;
}

strong {
	border-bottom: 1px solid white;
}

/* CSS for Material UI Components */

div[class^='MuiButton-root']:hover, div[class*=' MuiButton-root']:hover {
	text-decoration:none;
	background-color: rgba(106, 229, 219, 0.08) !important;
}

button[class^='MuiButtonBase-root'], button[class*=' MuiButtonBase-root'] {
	margin: 0 auto;
}

div[class^='MuiSlider-track'], div[class*=' MuiSlider-track'], 
button[class^='MuiSlider-thumb'], button[class*=' MuiSlider-thumb'] {
	background-color: #6AE5DB !important;
}

div[class^='MuiSlider-root'], div[class*=' MuiSlider-root'] {
	margin: 0 auto;
	width: 80%;
}

/* Class styling */

.arrow {
	height: 12px;
	margin-left: 8px;
}

.arrow-up {
	-moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
}

.bold-text {
	font-weight: bold;
}

.button-text {
	margin: 0;
	color: #6AE5DB;
	font-family: 'Comfortaa';
}

.drink-button {
	background-color: #6AE5DB !important;
	display: block !important;
}

.drink-container {
	text-align: center;
}

.drink-img {
	margin-left: 5px;
}

.expand-container {
	margin: 0 auto;
	text-align: center;
}

.graph-container {
	text-align: center;
	margin-top: 20px;
}

.logo {
	width: 100%;
	margin:0 auto;
	text-align:center;
}

.logo-container {
	width: 50%;
	min-width: 250px;
	max-width: 450px;
	margin:0 auto;
}

.margin-zero {
	margin: 0;
}

.sched-button {
	border: 1px solid !important;
	border-color: #6AE5DB !important;
}

.sched-button:after {
	background-color: var(--mdc-theme-primary,#951A24)
}

.sched-button-container {
	text-align:center;
	margin-top: 15px;
}

.sched-closed {
	display:none;
}

.sched-expanded {
	width: 70%;
	min-width: 250px;
	margin:15px auto;
	padding-bottom: 10px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

.timelist {
	width: 200px;
	text-align: center;
	margin: 0 auto 10px;
}

.timer {
	background-color: white;
	color: #6AE5DB;
	width: 150px;
	margin: 0 auto;
	padding: 10px 0px;
	border-radius: 20px;
}

.timer>h2 {
	margin: 0 auto;
	font-weight: bold;
	font-family: 'Lato';
}

.view {
	color: white;
}

.graph-container {
  margin: 0 auto;
}

.recharts-wrapper {
  width: auto !important;
}

.login-container {
  text-align: center;
}

.login-container input {
  background-color: #6AE5DB;
  border: 5px solid #6AE5DB;
  font-size: 14pt;
  border-radius: 5px;

}
